/**************/
/* CSS REMEDY */
/**************/

@font-face {
	font-family: "anton";
	src: url("fonts/anton.woff2");
  }

@font-face {
	font-family: "archivo";
	src: url("fonts/archivo.woff2");
}

@font-face { 
	font-family: "beba";
	src: url("fonts/beba.woff2");
}

@font-face {
	font-family: "inter";
	src: url("fonts/inter.woff2");
}

@font-face {
	font-family: "mem";
	src: url("fonts/mem.woff2");
}

@font-face {
	font-family: "mont";
	src: url("fonts/mont.woff2");
}

@font-face {
	font-family: "robot";
	src: url("fonts/roboto1.woff2");
}

@font-face {
	font-family: "roboto";
	src: url("fonts/roboto2.woff2");
}




*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
html {
	/* startje */
	--color-text:#111;
	--color-background:#eee;

	interpolate-size: allow-keywords;
}








/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body{
	font-family: "beba";
	color: #a62c21;
	margin: 0%;
}

img{
	width: 100px;
}

ul{
	list-style-type: none;
}

header {
	/* display: flex; */
	/* justify-content: space-between; */
	/* align-items: center; */
	position: sticky;
	top:0;
	z-index: 100;
	/* height: 100%; */

	position: relative;
}

header nav {
	/* JOUW CODE HIER - stap 1 */
	/* display: flex; */
	/* align-items: center; */
	/* position:fixed; */
	/* left:2%; */
	/* right:0; */
	/* top:2%; */

	/* JOUW CODE HIER - stap 3 */
	/* translate:0% 0%; */

	/* JOUW CODE HIER - stap 5 */
	/* transition:.3s; */
	width: 100%;
	position: fixed;
	padding: .5em;

	background: rgba(232, 225, 216, 0.7);

	display:grid;
	grid-template-columns:1fr max-content 1fr;
	align-items: center;
}



/* logo */
header nav > img{
	width: 30vw;
	height:auto;
}



/* menu button */
header nav button:nth-of-type(1) {
	/* JOUW CODE HIER - stap 2 */
	/* position:fixed; */
	/* top:0%; */

	/* JOUW CODE HIER - stap 2 */
	/* left:50%; */

	/* JOUW CODE HIER - stap 2 */
	/* translate:-50% 0%; */

	/* z-index: 100; */

	background: none;
	border: none;
	padding:0;

	background-color: grey;
}

header nav button:nth-of-type(1) img {
	display:block;
	width:2em;
}

/* als het menu open is */
header nav.toonMenu button:nth-of-type(1) img {
	/* JOUW CODE HIER - stap 6 */
	/* url kruisje: https://assets.codepen.io/274456/ui-icon-cross.svg */
	content:url("../images/cross-svgrepo-com.svg");
}



/* het menu */
header nav ul {
/* JOUW CODE HIER - stap 9 */
	display:flex; /* hiermee zijn de andere grid-properties niet meer relevant */
	flex-direction: column;

	margin:0;
	padding:0 1em;
	list-style-type:"";

	position:absolute;
	left:50%;
	top:100%;
	translate:-50%;

	background-color: #e8e1d8;

	height:0;

	overflow:hidden;
	font-family: "anton";
	transition: 1s;
}
  
/* als het menu open is */
header nav.toonMenu  ul {
	/* JOUW CODE HIER - stap 5 */
	/* translate:0% 50%; */
	height:auto;
	padding:1em;
}

/* cart button */
header nav button:nth-of-type(2) {
	width:3em;

	justify-self: end;
}

header nav button:nth-of-type(2) svg {
	width:100%;
	fill: #a62c21;
}

/* book now */
header nav button:nth-of-type(3) {
	background-color: #a62c21;
	justify-content: end;
	font-family: "beba";
	color: #ffffff;

	display: none;

	
}

  
  
  

  
  
  
 
  
  
  
/****************************************************************/
/* styling voor de header als de browser minimaal 38em breed is */
/****************************************************************/
@media (min-width:48em) {
header nav {
	/* JOUW CODE HIER - stap 8 */
	display: flex;
	position:static; 
	translate:unset; 
	padding:3%;
	background:none;
	gap: 1em;
	justify-content: space-between;
}


header nav button:nth-of-type(1){
	/* JOUW CODE HIER - stap 7 */
	 display:none;
	 
}

header nav button:last-of-type{
	/* JOUW CODE HIER - stap 7 */
	display: flex;
}


header nav ul {
	/* JOUW CODE HIER - stap 9 */
	display: flex;
	flex-direction: row;
	background-color: red;
	padding-bottom: 0;
	position:static;
	left:0;
	top:0;
	translate:0;
	height: auto;
	overflow:visible
	/* hiermee zijn de andere grid-properties niet meer relevant */
}

header nav ul li {
	/* JOUW CODE HIER - stap 9 */
	display:flex;
	/* hiermee zijn de andere grid-properties niet meer relevant */
}

header nav ul li a {
	/* JOUW CODE HIER - stap 9 */
	display:flex;
	color: white;
	/* hiermee zijn de andere grid-properties niet meer relevant */
}

nav a {
	/* JOUW CODE HIER - stap 10 */
	aspect-ratio:unset;
	border-radius:unset; 
	 box-shadow:unset;
}

header > a:last-of-type {
	/* JOUW CODE HIER - stap 10 */
	 flex-direction:column;
}
}








/* DE MAIN */
/* main{
	background-color: #e8e1d8;
} */
main section:nth-of-type(1){
	position: relative;
	width: 100%;
	min-height: 350px;
	background-color: #e8e1d8;
}

main section:nth-of-type(1) img:nth-of-type(1) {
	position: absolute;
	width: 252px;
}

main section:nth-of-type(1) img:nth-of-type(2) {
	position: absolute;
	width: 191px;
}

/* section:nth-of-type(1) img:nth-of-type(1){
	top:0px;
	left: 0;
} */

main section:nth-of-type(1) img:nth-of-type(2){
	top: 290px;
	left: 169px;
}

main section:nth-of-type(2) {
	background-color: #e8e1d8;
}

main section:nth-of-type(2) h2{
	position: relative;
	margin-top: 8em;
	font-family: "anton";
	color: #a62c21;
	padding-left: 1em;
	padding-bottom: 0;
	font-size: 32px;
}

main section:nth-of-type(2) ul{
	padding-left:1em;
	font-family: "beba";
}

main section:nth-of-type(3) {
	text-align: center;
}

main section:nth-of-type(3) h2{
	font-family: "anton";
	color: #a62c21;
}

main section:nth-of-type(3) h3{
	font-family: "archivo";
	color: #a62c21;
}

main section:nth-of-type(3) p:nth-of-type(1), section:nth-of-type(3) p:nth-of-type(2){
	font-family: "robot";
	font-weight: bold;
	color: #111;
}

main section:nth-of-type(3) p:nth-of-type(2){
	font-family: "robot";
	font-weight: bold;
	color: #111;
}

main section:nth-of-type(3) p:nth-of-type(3){
	font-family: "robot";
	font-weight: 200;
	color: #111;
}

main section:nth-of-type(3) p:nth-of-type(4){
	font-family: "robot";
	font-weight: bold;
	color: #111;
}

main section:nth-of-type(3) button{
	font-family: "archivo";
	color: #ffffff;
	background-color: #a62c21;
}

main section:nth-of-type(3) img{
	width: 100%;
}

main section:nth-of-type(4) {
	background-color: #e8e1d8;
}

main section:nth-of-type(4) h4{
	font-family: "mont";
	color: #a62c21;
	margin-top: 0;
}

main section:nth-of-type(4) {
	padding: 1em;
}

main section:nth-of-type(4) p{
	padding-left: 1em;
	padding-right: 1em;
}

main section:nth-of-type(4) button{
	display: flex;
	justify-self: center;
}

main section:nth-of-type(4) img {
	padding: 1em;
}

main section:nth-of-type(4) img:nth-of-type(1) {
	height: 300px;
	width: 100%;
}

main section:nth-of-type(4) img:nth-of-type(2) {
	height: 300px;
	width: 100%;
}

main section:nth-of-type(4) img:nth-of-type(3) {
	height: 300px;
	width: 60%;
}

main section:nth-of-type(4) img:nth-of-type(4) {
	height: 300px;
	width: 100%;
}

main section:nth-of-type(5) {
	display: grid;
	grid-template-rows: 1fr 1fr;
}

main section:nth-of-type(5) h2 {
	display: flex;
	font-family: "anton";
	justify-content: center;
	grid-row: 2/3;
	grid-column: 1;
}

main section:nth-of-type(5) img{
	width: 100%;
	z-index: -1;
}

main section:nth-of-type(5) img:nth-of-type(1){
	grid-row: 1/2;
	grid-column: 1;
}

main section:nth-of-type(5) img:nth-of-type(2){
	height: 100%;
	grid-row: 2/3;
	grid-column: 1;
}

main section:nth-of-type(5) form{
	grid-row: 2/3;
	grid-column: 1;
	margin-top: 100px;

}

main section:nth-of-type(6) {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em;
	background-color: #f5f0ee;
}

main section:nth-of-type(6) h2{
	font-family: "anton";
}

main section:nth-of-type(6) h3{
	font-family: "anton";
}

main section:nth-of-type(6) h4{
	font-family: "anton";
}

main section:nth-of-type(6) h5{
	font-family: "roboto";
}

main section:nth-of-type(6) button{
	font-family: "inter";
}

@media(min-width: 40em) {
	section:nth-of-type(6){
		grid-template-columns: 1fr 1fr 1fr;

	}
}

main section:nth-of-type(6) article {
	display: flex;
	flex-direction: column;
	

}

main section:nth-of-type(6) h2 {
	grid-column: 1/-1;

}

main section:nth-of-type(7){
	background-color: #e8e1d8;
}

main section:nth-of-type(7) h2{
	display: flex;
	justify-content: center;
	padding: 1em;
	margin: 0;
}

main section:nth-of-type(7) p{
	display: flex;
	justify-content: center;
	padding: 1em;
}

main section:nth-of-type(7) button{
	display: flex;
	justify-self: center;
}

main section:nth-of-type(7) img{
	display: flex;
	padding-top: 1em;
}

main section:nth-of-type(7) img:nth-of-type(1){
	justify-self: end;
	width: 132px;
	height: 154px;

}

main section:nth-of-type(7) img:nth-of-type(2){
	height: 300px;
	width: 100%;
}

main section:nth-of-type(7) img:nth-of-type(3){
	display: flex;
	height: auto;
	width: 50%
}

main section:nth-of-type(7) img:nth-of-type(4){
	display: flex;
	height: auto;
	height: 10%;
	width: 70%;
}


main section:nth-of-type(8) {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	text-align: center;
}

main section:nth-of-type(8) img{
	width: 31.3125em;
	height: 20em;
	width: 100%;
	z-index: 1000;
}

main section:nth-of-type(8) img:nth-of-type(1){
	grid-row: 1/2;
	grid-column: 1;
}

main section:nth-of-type(8) img:nth-of-type(2){
	grid-row: 2/3;
	grid-column: 1;
	z-index: 10;
}

main section:nth-of-type(8) img:nth-of-type(3){
	grid-row: 3/4;
	grid-column: 1;
	z-index: 10;
}

main section:nth-of-type(8) h2{
	/* position: absolute; */
	display: flex;
	justify-content: center;
	/* align-self: end; */
	grid-row: 2/3;
	grid-column: 1;
	margin-top: 100px;
}

main section:nth-of-type(8) p{
	/* position: absolute; */
	display: flex;
	justify-content: center;
	grid-row: 2/3;
	grid-column: 1;
	margin-top: 150px;
}

main section:nth-of-type(8) button{
	/* position: absolute; */
	display: flex;
	justify-content: center;
	grid-row: 2/3;
	grid-column: 1;
	height: 1em;
	margin-top: 200px;
}

@media(min-width: 40em) {
	main section:nth-of-type(8){
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;

	}

	main section:nth-of-type(8) img:nth-of-type(1){
		grid-row-start: 1;
		grid-column: 1;
	}
	
	main section:nth-of-type(8) img:nth-of-type(2){
		grid-row-start: 1;
		grid-column: 2;
		z-index: -1;
	}
	
	main section:nth-of-type(8) img:nth-of-type(3){
		grid-row-start: 1;
		grid-column: 3;
		z-index: -1;
	}

	main section:nth-of-type(8) h2{
		grid-row: 1;
		grid-column: 2;
	}

	main section:nth-of-type(8) p{
		grid-row: 1;
		grid-column: 2;
	}

	main section:nth-of-type(8) button{
		grid-row: 1;
		grid-column: 2;
	}
}

main section:nth-of-type(9) {
	display: grid;
	grid-template-rows: 10em 10em;
	background-color: #f8f3f0;
}

main section:nth-of-type(9) p{
	margin-top: 8.5em;
	padding-left: 1.4em;
}


main section:nth-of-type(9) h2{
	padding-left: 1em;
}


main section:nth-of-type(9) img{
	width: 31.3125em;
	height: 20em;
	width: 100%;
}



/* FOOTER */

footer{
	background-color:#f4f0ee;
	display: grid;
	gap:1em;
	/* flex-direction: column; */
	padding:1em;
}

footer section h3{
	font-family: "anton";
}

footer section p, button{
	font-family: "roboto";
}
/* footer ul:nth-of-type(1){ */
	/* width: 100%; */
/* } */

footer > img:nth-of-type(1) {
	grid-column-start: 1;
	grid-column-end: -1;
	width: 300px;
}

footer section:nth-of-type(2) ul {
	padding:0;
	font-family: "roboto";
}


footer section:nth-of-type(4) {
	display: flex;
	flex-direction: column;
}

footer ul:nth-of-type(1) li:nth-of-type(2) ul{
	padding: 0;
}

/* links onderaan in de footer */
footer > ul {
	padding:0;

	display: flex;
	/* align-self: center; */
	justify-content: center;
	align-items: center;
	/* width: 100%; */

	grid-column-start: 1;
	grid-column-end: -1;
}

@media (min-width: 34em) {
	footer {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 48em) {
	footer {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
	footer > img:nth-of-type(1){
		grid-column-start: 1;
		grid-column-end: 2;
		width: 100%;
		padding:1em

	}


}

/* @media (min-width: 30em) {
	footer ul:nth-of-type(1){
		display: grid;
		grid-template-columns:1fr;
		grid-gap: 1em;
	}
} */

/* @media (min-width: 38em) {
	footer ul:nth-of-type(1){
		grid-template-columns:1fr 1fr 1fr 1fr;

	}
	footer ul:nth-of-type(1) article:first-of-type, footer article:nth-of-type(3){
		grid-column: 1 / 3;

	}
	footer ul:nth-of-type(1) article:nth-of-type(2), footer article:nth-of-type(4){
		grid-column: 3 / 5;
	}
	.logo{
		grid-column: 1 / -1;

	}
	

} */

/* @media (min-width: 48em) {
	footer ul:nth-of-type(1) {
		display: grid;
		grid-template-columns:1fr 1fr 1fr 1fr 1fr;
		grid-gap: 1em;
	}
	
} */

/* order */

/* grid seciton 1 foto van bobbi
met z-index */