:root {
    --zwart: #282828;
    --beige: #CAB8A2;
    --grijs: #928781;
    --rood: #AF4B2F;
    --e-global-color-9670681: #E8E1D8;
    --white: #F4F0EE;
    --wit: #FFFFFF;
    --zwartj: #AF4B2F00;
    --donkerrood: #A62C21;
    --bank: #DBBB9CAD;
    --kleur: #E8E1D8;
    --Navigatie: #dfc7b0;
}

@media (prefers-color-scheme:dark) {
    :root {
        --zwart: #282828;
        --beige: #CAB8A2;
        --grijs: #928781;
        --rood: #AF4B2F;
        --e-global-color-9670681: #E8E1D8;
        --white: #F4F0EE;
        --wit: #FFFFFF;
        --zwartj: #AF4B2F00;
        --donkerrood: #A62C21;
        --bank: #DBBB9CAD;
        --kleur: #E8E1D8;
    }
}



@font-face {
	font-family: "anton";
	src: url("fonts/anton.woff2");
  }

@font-face {
	font-family: "archivo";
	src: url("fonts/archivo.woff2");
}

@font-face { 
	font-family: "beba";
	src: url("fonts/beba.woff2");
}

@font-face {
	font-family: "inter";
	src: url("fonts/inter.woff2");
}

@font-face {
	font-family: "mem";
	src: url("fonts/mem.woff2");
}

@font-face {
	font-family: "mont";
	src: url("fonts/mont.woff2");
}

@font-face {
	font-family: "robot";
	src: url("fonts/roboto1.woff2");
}

@font-face {
	font-family: "roboto";
	src: url("fonts/roboto2.woff2");
}

@font-face {
	font-family: "epilogue";
	src: url("fonts/epilogue.woff2");
}

@font-face {
	font-family: "worksans";
	src: url("fonts/worksans.woff2");
}

html {

}

ul{
	list-style-type: none;
}


/**************/
/* CSS REMEDY */
/**************/






*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
html {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	scroll-behavior: smooth;
	interpolate-size: allow-keywords;
}








/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body{
	font-family: "beba";
	color: #a62c21;
	margin: 0%;
}


img{
	/* width: 100px; */
}

ul{
	list-style-type: none;
}


/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {				
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;	
}







/* https://css-tricks.com/how-to-create-a-skip-to-content-link/ */
.skip-link {
	background: #a62c21;
	color: #fff;
	font-weight: 700;
	left: -999em;
	top: 2em;
	padding: 10px;
	position: absolute;
	transform: translateY(0%);
  }
  
  .skip-link:focus {
	left: 0em;
	transform: translateY(100%);
  }

  .skip-link {
	/* Same as  before */
	transition: transform 0.3s;
  }




  main section:nth-of-type(8) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr;
  }
  
  main section:nth-of-type(8) p{
    grid-column: 1;
    grid-row: 1;
    align-self: end;
    font-size: 3vw;
    margin-bottom: 0;
    padding-left: 10%;
    color: #111;
    font-family: "robot";
    color: #000;
    font-weight: 100;
  }
  
  main section:nth-of-type(8) h2{
    grid-column: 1;
    grid-row: 2;
    align-self: start;
    font-size: 8vw;
    margin-top: 0;
    padding-left: 10%;
    font-family: "anton";
    color: #111;
    font-weight: 300;
  }
  
  /* main section:nth-of-type(8) h2 {
    align-items: start;
  } */
  main section:nth-of-type(8) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr;
  }
  
  main section:nth-of-type(8) p{
    grid-column: 1;
    grid-row: 1;
    align-self: end;
    font-size: 3vw;
    margin-bottom: 0;
    padding-left: 10%;
    color: #111;
    font-family: "robot";
    color: #000;
    font-weight: 100;
  }
  
  main section:nth-of-type(8) h2{
    grid-column: 1;
    grid-row: 2;
    align-self: start;
    font-size: 8vw;
    margin-top: 0;
    padding-left: 10%;
    font-family: "anton";
    color: #111;
    font-weight: 300;
  }
  
  /* main section:nth-of-type(8) h2 {
    align-items: start;
  } */
  
  main section:nth-of-type(8) img {
    grid-column: 1;
    grid-row: 3;
    width: 100%;
  }
  @media (min-width: 48em) {
    main section:nth-of-type(8) {
      display: grid;
      grid-template-columns: 1fr 1fr ;
      grid-template-rows: 0.5fr 1fr;
    }
  
    main section:nth-of-type(8) img{
      grid-column: 2;
      grid-row: 1/-1;
      height: 100%;
      object-fit: cover; /* vult de kolom zonder vervormen */
        display: block;
    }
  m
    main section:nth-of-type(8) h2{
      width: 80%;
      line-height: 1.2;
      font-size: 6vw;
    }
  
    main section:nth-of-type(8) p{
      font-size: 1.2vw;
    }
  }

  /* FOOTER */

footer{
	background-color:#f4f0ee;
	display: grid;
	gap:1em;
	/* flex-direction: column; */
	padding:1em;
}

footer section h3{
	font-family: "anton";
	color: #000;
	font-weight: 100;
}

footer section p, button{
	font-family: "roboto";
}
/* footer ul:nth-of-type(1){ */
	/* width: 100%; */
/* } */

footer > img:nth-of-type(1) {
	grid-column-start: 1;
	grid-column-end: -1;
	width: 60%;
}

footer section p, footer section:nth-of-type(2) ul li {
	padding :0;
	font-family: "roboto";
	margin-bottom: 1em;
	color:#000;
	font-weight: 300;
}

footer section strong{
	font-weight: 600;
}


footer section:nth-of-type(4) {
	display: flex;
	flex-direction: column;
}

footer ul:nth-of-type(1) li:nth-of-type(2) ul{
	padding: 0;
}

/* links onderaan in de footer */
footer > ul {
	padding:0;

	display: flex;
	/* align-self: center; */
	justify-content: center;
	align-items: center;
	/* width: 100%; */

	grid-column-start: 1;
	grid-column-end: -1;
}

footer input{
	line-height: 2;
	margin-bottom: 1em;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

footer section:nth-of-type(2) ul{
	padding-left: 0;
}

footer button:nth-of-type(1){
	align-self: start;
	padding-left: 0;
	/* padding-top: 1em; */
}

footer button:nth-of-type(3), footer button:nth-of-type(2){
	margin-bottom: 0;
	/* padding-top: 1em; */
}

footer button{
	border: 0;
	font-family: "roboto";
	font-size: 1em;
	/* color: #a62c21; */
	background-color: #f4f0ee;
	font-weight: 200;
}

@media (min-width: 34em) {
	footer {
		grid-template-columns: 1fr 1fr;
	}
}


@media (min-width: 38em) {
		footer img:nth-of-type(1){
			padding-left: 0;
		}
	}

@media (min-width: 48em) {
	footer {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		padding-left: 5%;
		padding-right: 5%;
		margin-top: 60px;
	}
	footer > img:nth-of-type(1){
		grid-column-start: 1;
		grid-column-end: 2;
		width: 90%;
		padding:1em;
		padding-top: 0;

	}

	footer section:nth-of-type(1) p:nth-of-type(1), footer section:nth-of-type(1) p:nth-of-type(2), footer section:nth-of-type(1) p:nth-of-type(3){
		margin: 0;
	}

	footer section h3{
		margin-top: 0;
		line-height: 1;
	}

	footer section:nth-of-type(4) p{
		margin-top: 0;
	}

	footer section:nth-of-type(4){
		width: 95%;
	}

	footer section:nth-of-type(2) ul li {
		font-family: "roboto";
		padding-bottom: 1em;
	}

	footer section:nth-of-type(2) ul{
		font-family: "roboto";
		padding:0
	}

	footer ul:last-child{
		margin:0;
	}

	footer ul:last-child button{
		margin-top: 10em;
	}

}